<article class="expedition-list-item">
    <p class="post-meta">
        {{ include.expedition.kind | capitalize }}
        &middot; {{ include.expedition.status | capitalize }}
        {% if include.expedition.started %}
        &middot; {{ include.expedition.started }}
        {% endif %}
    </p>
    <h3>
        <a href="{{ include.expedition.url }}">{{ include.expedition.title | escape }}</a>
    </h3>
    <p>{{ include.expedition.summary }}</p>
    {%- if include.expedition.fields -%}
    <p class="post-meta">
        {% for field in include.expedition.fields %}
        <span>#{{ field }}</span>{% unless forloop.last %} {% endunless %}
        {% endfor %}
    </p>
    {%- endif -%}
</article>